{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <h1>O projektu Naše školy</h1>
            <p>Projekt je boží a nikdo se mi do toho neserte! Jinak vás vytahám za kulky a bude zle.</p>
        </div>
    </div>
{% endblock %}

{% block css %}

{% endblock %}
