{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                    <h1>Kontakt</h1>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <strong>Marek Lisý</strong><br>
                                <em>Koordinátor projektu</em><br>
                                Rozečti.se s.r.o.<br>
                                <a href="mailto:marek.lisy@rozectise.cz">marek.lisy@rozectise.cz</a>
                            </div>

                            <div class="col-xs-6">
                                <strong>Michal Tošovský</strong><br>
                                <em>Morální podpora</em><br>
                                Fond Otakara Motejla<br>
                                <a href="mailto:michal.tosovsky@motejl.cz">michal.tosovsky@motejl.cz</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}

{% endblock %}
